* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color:#cfb1c6b7;
}

.header {
    right:0px;
    left: 0px;
    padding: 10px;
    background-color:#c0a1bc;
    color:#80016b;
}

.header h1 {
    display:inline-block;
    font-size:59px;
}

.header h1 .red {
    font-size:62px;
    font-family:monospace;
    font-style:italic;
}

.header div {
    padding-top:10px;
    margin-right:5px;
    float:right;
    font-size:25px;
}
.header div ul {
    list-style-type: none;
}
.header div ul li {
    display:inline-block;
    margin-left: 20px;
}
a {
    color:#80016b;
    text-decoration: none;
}


.aboutcon {
    margin: 2.5rem 7rem 2rem 7rem;
    border: 4.5px solid #80016b;
    background-color:#a5a5a553;
}

.aboutcon h2 {
    margin: 0.5rem 1rem 0.5rem;
    font-style:italic;
    color:#80016b;
}

.aboutcon p {
    margin: 1rem 1.75rem 1rem;
    font-style:bold;
    font-size:larger;
    color:#35002c;
}

.wokmg {
    margin: 2rem 47.09rem 2rem 7rem;
    border: 4.5px solid #80016b;
}
.wokmg img {
    width:645.5px;
    height:451px;
    resize:both;
    overflow:hidden;
}
.wokmg #mwork {
    top:70px;
    left:10px;
    font-weight: normal;
    text-align:left;
    font-size:larger;
}